<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ducdm.app.nmvvm">

    <application
        android:name="com.ducdm.app.NMvvmApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ducdm.app.views.SplashView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ducdm.app.views.SignInView" />
        <activity
            android:name="com.ducdm.app.views.HomeView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.ducdm.app.views.MainView"
            android:label="@string/title_activity_main_view" />
        <activity
            android:name="com.ducdm.app.views.PagerView"
            android:label="@string/title_activity_pager_view"></activity>
    </application>

</manifest>